<div class="container-fluid">
    <h1>Muokkaa elokuvaa "{{movie.title}}"</h1>
    <form name="editMovieForm">
        <div class="form-group">
            <label for="title">Nimi</label>
            <input name="title" type="text" id="title" class="form-control" ng-model="movie.title" required>
            <div ng-show="editMovieForm.title.$invalid && editMovieForm.title.$dirty">
                Nimi ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="director">Director</label>
            <input name="director" type="text" id="director" class="form-control" ng-model="movie.director" required>
            <div ng-show="editMovieForm.director.$invalid && editMovieForm.director.$dirty">
                Ohjaaja ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input name="year" type="text" id="year" class="form-control" ng-model="movie.year" required ng-minlength="4" ng-pattern="/^[0-9]+$/">
            <div ng-show="editMovieForm.year.$invalid && editMovieForm.year.$dirty">
                Julkaisuvuosi ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" type="text" id="description" class="form-control" ng-model="movie.description" required></textarea>
            <div ng-show="editMovieForm.description.$invalid && editMovieForm.description.$dirty">
                Kuvaus ei ole validi
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Muokkaa" ng-disabled="editMovieForm.$invalid" ng-click="editMovie()">Muokkaa</button>
    </form>
</div>