<div class="container-fluid">
    <h1>Lisää elokuva</h1>
    <form name="addMovieForm">
        <div class="form-group">
            <label for="title">Nimi</label>
            <input name="title" type="text" id="title" class="form-control" ng-model="newTitle" required>
            <div ng-show="addMovieForm.title.$invalid && addMovieForm.title.$dirty">
                Nimi ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="director">Ohjaaja</label>
            <input name="director" type="text" id="director" class="form-control" ng-model="newDirector" required>
            <div ng-show="addMovieForm.director.$invalid && addMovieForm.director.$dirty">
                Ohjaaja ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="year">Julkaisuvuosi</label>
            <input name="year" type="text" id="year" class="form-control" ng-model="newYear" required ng-minlength="4" ng-pattern="/^[0-9]+$/">
            <div ng-show="addMovieForm.year.$invalid && addMovieForm.year.$dirty">
                Julkaisuvuosi ei ole validi
            </div>
        </div>
        <div class="form-group">
            <label for="description">Kuvaus</label>
            <textarea name="description" type="text" id="description" class="form-control" ng-model="newDescription" required></textarea>
            <div ng-show="addMovieForm.description.$invalid && addMovieForm.description.$dirty">
                Kuvaus ei ole validi
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Lisää" ng-disabled="addMovieForm.$invalid" ng-click="addMovie()">Lisää</button>
    </form>
</div>
