<form name="addMovieForm">
    <p>
        <label>Title</label>
        <input name="title" type="text" ng-model="newTitle" required>
        <div ng-show="addMovieForm.title.$invalid && addMovieForm.title.$dirty">
            Title is not valid
        </div>
    </p>
    <p>
        <label>Director</label>
        <input name="director" type="text" ng-model="newDirector" required>
        <div ng-show="addMovieForm.director.$invalid && addMovieForm.director.$dirty">
            Director is not valid
        </div>
    </p>
    <p>
        <label>Year</label>
        <input name="year" type="text" ng-model="newYear" required ng-minlength="4" ng-pattern="/^[0-9]+$/">
        <div ng-show="addMovieForm.year.$invalid && addMovieForm.year.$dirty">
            Publishing year is not valid
        </div>
    </p>
    <p>
        <label>Description</label>
        <input name="description" type="text" ng-model="newDescription" required>
        <div ng-show="addMovieForm.description.$invalid && addMovieForm.description.$dirty">
            Description is not valid
        </div>
    </p>
   <p>
        <button type="submit" value="Add Movie" ng-disabled="addMovieForm.$invalid" ng-click="addMovie()">Add Movie</button>
    </p>
</form>
<a ng-href="#/movies">Back</a>